@import url(https://fonts.bunny.net/css?family=inter:400,700|inter-tight:400,400i,700,700i);

:root {
  --background: #282a36;
  --secondary-background: #44475a;
  --tertiary-background: #6272a4;
  --foreground: #f8f8f2;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --default-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  width: min(85vw, 1920px);
  height: 100vh;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 8%;
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

p {
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--tertiary-background);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  background-color: var(--secondary-background);
  color: var(--foreground);
  border: none;
  width: 100%;
}

.math-buttons,
.reset-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.reset-buttons button {
  font-weight: bold;
}

button {
  flex-grow: 1;
  border: none;
  cursor: pointer;
  color: var(--background);
  transition: background-color 0.2s ease-in-out;
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover {
  background-color: var(--cyan);
}

.btn-pink {
  background-color: var(--pink);
}

.btn-pink:hover {
  background-color: var(--purple);
}

.btn-orange {
  background-color: var(--orange);
}

.btn-orange:hover {
  background-color: var(--yellow);
}

.btn-cyan {
  background-color: var(--cyan);
}

.btn-cyan:hover {
  background-color: var(--green);
}

.btn-input {
  background-color: var(--purple);
}

.btn-input:hover {
  background-color: var(--pink);
}

.btn-result {
  background-color: var(--red);
}

.btn-result:hover {
  background-color: var(--orange);
}
